/** @format */

.mobileSide {
  display: none;
}
.nav-logo-text{
  text-align: center;
  color: #0e155a;
  font-size: 1.8rem;
  margin: 0;
  margin-top: 20px;
  display: none;
}

@media screen and (min-width: 780px) and (max-width: 1500px) {
  .gridCont {
    gap: 20px;
  }
}

@media screen and (min-width: 600px) and (max-width: 980px) {
  .gridCont {
    display: block;
  }
  .clear2 {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .gridCont {
    display: block;
    margin-top: 25%;
  }
  .clear2 {
    margin-top: 20px;
  }
 .true-side{
    display: none;
 }
  .hamber {
    display: none;
  }
  .mobileSide {
    display: block;
  }
  .false-logo{
    padding-top: 0;
  }
  .false-sidebar{
    margin: 0px;
    padding: 0px;
  }
  .DropdownDiv{
    margin: 0;
  }
  .dropDn{
    margin: 10px;
  }
  .false-navbar .right .dropdown-button-search-1{
    display: none !important;
  }
  ..nav-logo-text
}
