/** @format */

.mobileSide {
  display: none;
}
.nav-logo-text{
  text-align: center;
  color: #0e155a;
  font-size: 1.8rem;
  margin: 0;
  margin-top: 20px;
  display: none;
}

@media screen and (min-width: 780px) and (max-width: 1500px) {
  .gridCont {
    gap: 20px;
  }
}

@media screen and (min-width: 600px) and (max-width: 980px) {
  .gridCont {
    display: block;
  }
  .clear2 {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  
  .clear2 {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .clear{
    width: 80%;
    display: block;
    margin: auto;
  }
 .true-side{
    display: none;
 }
  .hamber {
    display: none;
  }
  .mobileSide {
    display: block;
  }
  .false-logo{
    padding-top: 0;
  }
  .false-sidebar{
    margin: 0px;
    padding: 0px;
  }
  .DropdownDiv{
    margin: 0;
  }
  .dropDn{
    margin: 10px;
  }
  .false-navbar .right .loginbtn{
    display: none !important;
  }
  .nav-logo-text{
    display: block;
  }
  .false-logo{
    display: none;
  }
  .loginbtn{
    margin-top: 20px;
  }
  .dropdown-button-search-1{
    width: 120px !important;
    gap: 0px !important;
    padding-left: 0;
  }

   .false-navbar .profileImage{
    display: none;
  }

  .dropdown-button-search-1 input::placeholder{
    text-align: left;
  }

  .homeS{
    width: 100%;
  }
  .tradingview-widget-container {
    width: 100%;
  }
  .gridCont {
    display: block;
    width: 100%;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
  }

  /* .gridCont {
    display: block;
   
  } */
  /* .homeS{
    display: none;
  } */
  .false-navbar {
    display: none;
  }



}
